
body {
    background: url( ../images/bg.jpg);
    background-size: cover;
    	background-repeat:no-repeat;
}
 #score {
      font-size: 40px;  
      margin-top:150px;
      margin-left: 20px; 
      position:absolute;
       font-weight: bold;
    color: #ffffff; 
      background-color: rgba(0, 0, 0, 0.5);
      padding:5px;

    }
#board {
    text-align: center;
    width: 540px;
    height: 540px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background: url("../images/soil.png");
    background-size: cover;
    border: 3px solid white;
    border-radius: 25px;
}

#board div {
    /* board = 540 x 540, divide into 3x3 tiles --> 180 x 180 per div */
    width: 180px; 
    height: 180px;
    background-image: url("../images/pipe.png");
    background-size: cover;
}

#board div img {
    /* all img tags inside tiles */
    width: 100px;
    height: 100px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.options {
   position:absolute;
    margin-bottom : 510px;
     background-color: azure;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
  

}
#pauseButton
{       transform: translateY(-250px);
  
}
#retryButton{
     transform: translate(200px, -250px);
   

}
.options:hover{
    background-color: lightblue; 
}
#StartGame
{
    cursor: pointer;
    background-color: azure;
    padding: 10px 20px;
    font-size: 26px;
    margin:auto;
    z-index: 2;
    transform: translateY(310px);
    border-radius: 15px;
   
}
header {
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0px;
    background-color:azure; 
}
.list{
    list-style:none;
    display:flex;
    font-size:18px;
    font-weight:700;
    align-items:center;
}
h1{
    font-size:20px;
    padding-left:400px;
    padding-right: 400px;
}
li{
    display:inline;
}
.button-link {

    color: black; 
    display: inline-block; 
    background-color: azure; 

  }
  .button-link:hover {
    background-color: lightblue; 
    color: white; 
    border-radius: 5px;
  }