body{
	background-image: url(images/bg.jpg);
	background-size: cover;
	background-position-x:center; 
	background-position-y:top;
	background-repeat:no-repeat;
}
header {
	display:flex;
	justify-content:space-between;
	align-items:center;
	padding:0px;
	background-color:azure; 
}
.list{
	list-style:none;
	display:flex;
	font-size:22px;
	font-weight:700;
	align-items:center;
}
h1{
	font-size:25px;
	padding-left:500px;
	padding-right: 500px;
}
li{
	display:inline;
}
.button-link {

    color: black; 
    display: inline-block; 
    background-color: azure; 

  }
  .button-link:hover {
    background-color: lightblue; 
    color: white; 
    border-radius: 5px;
  }
  #title{
  font-size:50px;
  margin:auto;
  transform: translateY(310px);
  color: #ffffff; 
      background-color: rgba(0, 0, 0, 0.5);
  }